# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin

# Ignore user IDE settings
/.vscode/

# Ignore GoLand settings
/.idea/
/.run/

# Application Specific
*.res
/bin
/settings.json